<nav ng-controller="NavController" class="book">
    <div class="container containerNav">
    <div id="stylelogo" class="">
    <div class="logo"><a href="/" ng-click="navClick($event)"><span>Haruki Murakami</span>
        <span class="b bl"></span>
        <span class="b br"></span>
        <span class="b bl gap"></span>
        <span class="b br gap"></span>
         <span class="b bb"></span>
         </a>
          <div ng-click="openMenu($event)" class="menu mobile"><i class="fa fa-navicon"></i></div>
    </div>

    </div>

   

        <ul>
            <li><a class="nav-author" href="/author" ng-click="navClick($event)">Author</a></li>
            <li><a class="nav-library active" href="/library" ng-click="navClick($event)">Library</a></li>
            <li class="spacer"><a class="nav-community" href="/community" ng-click="navClick($event)">Community</a></li>
            <li><a class="nav-resources" href="/resources" ng-click="navClick($event)">Resources</a></li>
      <li class="mobile">
       <a href="https://www.facebook.com/harukimurakamiauthor" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://www.pinterest.com/vintageanchor/haruki-murakami/" target="_blank"><i class="fa fa-pinterest"></i></a>
      </li>
      <li class="mobile"><a href="mailto:vintageanchorpublicity@randomhouse.com">Contact Us</a>
        </li></ul>
    <div ng-click="closeMenu($event)" class="close mobile"></div>
    <div ng-click="closeMenu($event)" class="catcher-closed mobile"></div>
    </div>
    </nav>