body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

.container{
    width: 100%;
    display: flex;
}

.container .info_col{
    width: 55%;
    box-sizing: border-box;
    padding: 70px 70px 50px;
    justify-content: right;
    border-style: solid;
    border-color: #A3A1A1;
    border-width: 0px 1px 0px 0px;
}

.container .info_col .content{
    width: 600px;
    float: right;
}

.container .info_col .logo{
    width: 130px;
    box-sizing: border-box;
    margin: 0px 0px 10px 0px;
}

.container .info_col .logo img{
    width: 100%;
}

.container .info_col .breadcrumb{
    display: flex;
    box-sizing: border-box;
    margin: 0px 0px 30px 0px;
}

.container .info_col .breadcrumb .breadcrumb_content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0px 10px 0px 0px;
    align-items: center;
    display: flex;
}

.container .info_col .breadcrumb .button{
    width: 10px;
    box-sizing: border-box;
    margin: 0px 10px 0px 0px;
}

.container .info_col .breadcrumb .button img{
    width: 100%;
}

.container .info_col .contact_info{
    display: block;
    box-sizing: border-box;
    margin: 0px 0px 30px 0px;
    padding: 0px 10px 0px 0px;
}

.container .info_col .contact_info .fill{
    display: block;
    box-sizing: border-box;
    padding: 3px 0px 0px 10px;
    height: 47px;
    border-style: solid;
    border-color: #A3A1A1;
    border-width: 1px 1px 1px 1px;
    margin: 10px 10px 10px 0px;
    width: 100%;
    border-radius: 5px;
    align-items: center;
}

.container .info_col .contact_info .fill .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    color: #A3A1A1;
}

.container .info_col .contact_info .fill input{
    /* height: 20px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #000;
    outline: none;
    border-style: none;
}

.container .info_col .shipping_info{
    display: block;
    box-sizing: border-box;
    margin: 0px 0px 30px 0px;
}

.container .info_col .shipping_info .fill{
    display: block;
    box-sizing: border-box;
    padding: 3px 0px 0px 10px;
    height: 47px;
    border-style: solid;
    border-color: #A3A1A1;
    border-width: 1px 1px 1px 1px;
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    align-items: center;
}

.container .info_col .shipping_info .fill .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    color: #A3A1A1;
}

.container .info_col .shipping_info .fill input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #000;
    outline: none;
    border-style: none;
}

.container .info_col .shipping_info .input_container{
    display: flex;
    flex-wrap: wrap; 
}

.container .info_col .shipping_method{
    display: block;
    box-sizing: border-box;
    margin: 0px 0px 30px 0px;
}
/* new here */

.container .info_col .shipping_method{
    display: block;
    box-sizing: border-box;
    margin: 0px 0px 30px 0px;
}

.container .info_col .input_container{
    display: flex;
    flex-wrap: wrap; 
}

.container .info_col .title{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    margin: 0px 0px 10px 0px;
}

.container .info_col .fill_container{
    display: block;
}

.container .info_col .fill{
    display: flex;
    box-sizing: border-box;
    padding: 3px 0px 0px 10px;
    height: 47px;
    border-style: solid;
    border-color: #A3A1A1;
    border-width: 1px 1px 1px 1px;
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    align-items: center;
}

.container .info_col .option{
    width: 100%;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    box-sizing: border-box;
    margin: 05px 20px 10px 0px;
    align-items: center;
    justify-content: space-between;
}

.container .info_col .option_details{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    margin: -10px 0px 20px 0px;
    border-style: solid;
    border-color: #A3A1A1;
    border-width: 0px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
    box-sizing: border-box;
    padding: 20px 50px 20px 50px;
}


.container .info_col .input_block{
    width: 20px;
    box-sizing: border-box;
    margin: 0px 20px 0px 0px;
}

.container .info_col .title{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    margin: 0px 0px 10px 0px;
}
.container .info_col .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .info_col .nav .back{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.container .info_col .nav .back img{
    width: 10px;
    box-sizing: border-box;
    margin: 0px 10px 0px 0px;
}

.container .info_col .nav .continue{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    background-color: #338dbc;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
}

.container .details_col{
    width: 45%;
    padding: 70px 0px 70px 40px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
}

.container .details_col .details_container{
    display: block;
    width: 500px;
}

.container .details_col .details_container .item_list{
    display: block;
    box-sizing: border-box;
    padding: 0px 0px 10px 0px;
    border-style: solid;
    border-color: #dad9d9;
    border-width: 0px 0px 1px 0px;
}

.container .details_col .details_container .item_list .item_container{
    display: flex;
    box-sizing: border-box;
    margin: 0px 0px 20px 0px;
}

.container .details_col .details_container .item_list .item_container .item_img{
    display: block;
    width: 4.6em;
    position: relative;
    border-style: solid;
    border-color: #dad9d9;
    border-width: 1px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 03px 03px 3px 3px;
}

.container .details_col .details_container .item_list .item_container .item_img img{
    width: 100%;
}

.container .details_col .details_container .item_list .item_container .item_quantity{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    white-space: nowrap;
    padding: 0.15em 0.65em;
    border-radius: 2em;
    background-color: rgba(153,153,153,0.9);
    color: #fff;
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    z-index: 2;
}

.container .details_col .details_container .item_list .item_container .item_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 0px 0px 20px;
    width: 100%;
}

.container .details_col .details_container .item_list .item_container .item_info .item_id{
    display: block;
    align-items: center;
}

.container .details_col .details_container .item_list .item_container .item_info .item_id .item_name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #000;
    box-sizing: border-box;
    margin: 0px 0px 5px 0px;
}

.container .details_col .details_container .item_list .item_container .item_info .item_id .item_size{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #A3A1A1;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
}

.container .details_col .details_container .item_list .item_container .item_price{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #000;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
}

.container .details_col .promo_code{
    display: flex;
    box-sizing: border-box;
    padding: 35px 0px 35px 0px;
    border-style: solid;
    border-color: #dad9d9;
    border-width: 0px 0px 1px 0px;
}

.container .details_col .promo_code .fill{
    width: calc(75% - 20px);
    box-sizing: border-box;
    margin: 0px 20px 0px 0px;
    box-sizing: border-box;
    padding: 3px 0px 0px 10px;
    height: 47px;
    border-style: solid;
    border-color: #dad9d9;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
    align-items: center;
}

.container .details_col .promo_code .fill .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    color: #A3A1A1;
}

.container .contact_info .input_block{
    width: calc(100% - 20px);
}

.container .contact_info .input_block input{
    width: 100%;
}

.container .shipping_info .input_block{
    width: calc(100% - 20px);
}

.container .shipping_info .input_block input{
    width: 100%;
}

.container .details_col .promo_code .fill input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #000;
    outline: none;
    border-style: none;
    background-color: #f8f8f8;
    width: calc(100% - 20px);
}

.container .details_col .promo_code .button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 25%;
    background-color: rgba(153,153,153,0.9);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.container .details_col .summary{
    display: block;
    box-sizing: border-box;
    padding: 35px 0px 35px 0px;
    border-style: solid;
    border-color: #dad9d9;
    border-width: 0px 0px 1px 0px;
}

.container .details_col .summary .summary_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    box-sizing: border-box;
    padding: 0px 0px 10px 0px;
}

.container .details_col .final{
    display: block;
    box-sizing: border-box;
    padding: 35px 0px 0px 0px;
}

.container .details_col .final .final_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    box-sizing: border-box;
    padding: 0px 0px 10px 0px;
}


